{{!--
This error template is used for all 400/500 errors, except 404, which might occur on your site.
It's a good idea to keep this template as minimal as possible in terms of both file size and complexity.
You'll notice that we *don't* use any JavsScript, or ghost_head / ghost_foot in this file.
--}}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="{{asset "main/css/main.css"}}" />
</head>
<body class="error-template">
    <div id="wrapper">
        <main id="main">
            <div class="error-page inner">

            
                <section class="error-wrapper">

                    <section class="error-message">
                        <h1 class="error-code">{{statusCode}}</h1>
                        <p class="error-description">{{message}}</p>
                        <a class="error-link" href="{{@site.url}}">Go to the front page →</a>
                    </section>

                    {{#if errorDetails}}
                    <section class="error-stack">
                        <h3>Theme errors</h3>
                        <ul class="error-stack-list">
                            {{#foreach errorDetails}}
                                <li>
                                    <em class="error-stack-function">{{{rule}}}</em>

                                    {{#foreach failures}}
                                        <p><span class="error-stack-file">Ref: {{ref}}</span></p>
                                        <p><span class="error-stack-file">Message: {{message}}</span></p>
                                    {{/foreach}}
                                </li>
                            {{/foreach}}
                        </ul>
                    </section>
                    {{/if}}

                </section>
            </div>
        </main>
    </div>
</body>
</html>
