{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}


<section>

    <header class="major">
        <h1>{{@site.title}}</h1>
        {{#if @site.description}}
        <span>{{@site.description}}</span>
        {{/if}}
    </header>
    <section>
        {{#if @site.navigation}}
            <div style="display:none">
                {{navigation}}
            </div>
            <nav id="index-nav">
                {{#foreach navigation}}
                <div id="index-{{slug}}" class="next-post">
                    <a href="{{url absolute="true"}}"><i class="fa fa-chevron-right" aria-hidden="true"></i> {{label}}</a>
                </div>
                {{/foreach}}
            </nav>
        {{/if}}

    </section>
    <section class="posts">
        {{#foreach posts}}
        <article>
            {{#if feature_image}}
            <a href="{{url}}" class="image fit"><img src="{{img_url feature_image}}" alt="{{title}}" /></a>
            {{/if}}
            <h3><a href="{{url}}">{{title}}</a></h3>
            <p>{{excerpt words="33"}}</p>
            <ul class="actions special">
                <li><a href="{{url}}" class="button">Full Story</a></li>
            </ul>
        </article>
        {{/foreach}}
    </section>

</section>


