// Main
// --------------------------------------------

#header .logo {
    color: #3d4449;
    font-weight: bold;
}

#header .logo.image {
    padding: 0;
    border: none;
    display: inline-flex;
    height: 28px;

    @include breakpoint('<=small') {
        display: flex;
        justify-content: center;
        text-align: center;
    }
}

#header .logo.image img {
    height: 28px;
    transform: none !important;
}

@include breakpoint('<=small') {
    #sidebar:not(.inactive) .toggle:before {
        color: #fff;
    }

    #sidebar:not(.inactive) .toggle:after {
        background: _palette(fg-prime);
    }
}

#banner {
    border-bottom: solid 2px rgba(210, 215, 217, 0.75);
}


.content {
    max-width: 750px;
    margin: 0 1em;
}

// Pagination
// --------------------------------------------

// Couple of alignment fixes cause we're not
// using page numbers, just prev/next
.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 3rem 0;
    border-top: solid 2px rgba(210, 215, 217, 0.75);
}


// Tag Archive
// --------------------------------------------

.tag-header {
    padding: 5em 0 2em 0;
    border-bottom: solid 2px rgba(210, 215, 217, 0.75);
    text-align: center;
}


// Author Archive
// --------------------------------------------

.author-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4em 0 3em 0;
    border-bottom: solid 2px rgba(210, 215, 217, 0.75);
    text-align: center;

}

.author-profile-image {
    flex-shrink: 0;
    margin: 0 0 15px 0;
    width: 100px;
    height: 100px;
    box-shadow: rgba(255,255,255,0.1) 0 0 0 6px;
    display: block;
    background: #222;
    border-radius: 100%;

    object-fit: cover;
}

.author-header h1 {
    margin-bottom: 0.5rem;
}

.author-meta {
    display: flex;
    align-items: center;
}

.author-meta .icon,
.author-meta .bull {
    padding: 5px 10px;
}

.author-location:before {
    margin-right: 10px;
}

// Author Box
// --------------------------------------------

.post-footer {
    margin: 4rem auto 0;
    max-width: 700px;
}

.authors {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 -24px;
}

.author-box  {
    flex: 1 1 300px;
    display: inline-flex;
    align-items: flex-start;
    padding: 5px 20px;
    margin: 0 20px 20px;
    border: none;
}

.author-box:hover {
    color: #212931 !important;
}

.author-box:hover .author-box-name {
    color: #18bfef;
    transition: color 0.2s ease;
}

.author-box .author-profile-image {
    height: 60px;
    width: 60px;
    margin-right: 20px;
}

.author-box-content {
    display: flex;
    flex-direction: column;
}

.author-box-label {
    font-family: _font(family-heading);
    font-size: 0.7rem;
    line-height: 1em;
    font-weight: 300;
    text-transform: uppercase;
    color: #999;
}

.author-box-name {
    margin: 3px 0;
    font-size: 1.3rem;
    line-height: 1.2em;
    transition: color 0.5s ease;
}

.author-box p {
    margin: 0;
    font-size: 0.9rem;
    line-height: 1.5em;
}

.kg-image {
    max-width: 100%;
}

// Content
// --------------------------------------------

// Markdown images and videos
.content p > img, .content p > video {
    max-width: 100%;
}

.kg-card {
    margin: 0 0 2rem 0;
}

.kg-embed-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
}

.kg-image {
    width: 100%;
}

.kg-card figcaption {
    font-size: 0.8rem;
    line-height: 1.4em;
    text-align: center;
}

.kg-width-wide {
    position: relative;
    margin-left: -6rem;
    margin-right: -6rem;
    width: calc(100% + 12rem);

    @include breakpoint('<=large') {
        margin-left: -4rem;
        margin-right: -4rem;
        width: calc(100% + 8rem);
    }
    @include breakpoint('<=medium') {
        margin-left: -2rem;
        margin-right: -2rem;
        width: calc(100% + 4rem);
    }
    @include breakpoint('<=small') {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
}

.kg-width-full {
    position: relative;
    margin-left: -14.1rem;
    margin-right: -14.1rem;
    width: calc(100% + 28.25rem);

    @include breakpoint('<=large') {
        margin-left: -8rem;
        margin-right: -8rem;
        width: calc(100% + 16rem);
    }
    @include breakpoint('<=medium') {
        margin-left: -4rem;
        margin-right: -4rem;
        width: calc(100% + 8rem);
    }
    @include breakpoint('<=small') {
        margin-left: -2rem;
        margin-right: -2rem;
        width: calc(100% + 4rem);
    }
}

.kg-gallery-container {
    display: flex;
    flex-direction: column;
    margin-left: -6rem;
    margin-right: -6rem;
    width: calc(100% + 12rem);

    @include breakpoint('<=large') {
        margin-left: -4rem;
        margin-right: -4rem;
        width: calc(100% + 8rem);
    }
    @include breakpoint('<=medium') {
        margin-left: -2rem;
        margin-right: -2rem;
        width: calc(100% + 4rem);
    }
    @include breakpoint('<=small') {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
}

.kg-gallery-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.kg-gallery-image img {
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
}

.kg-gallery-row:not(:first-of-type) {
    margin: 0.75em 0 0 0;
}

.kg-gallery-image:not(:first-of-type) {
    margin: 0 0 0 0.75em;
}

.kg-gallery-card + .kg-image-card.kg-width-wide,
.kg-gallery-card + .kg-gallery-card,
.kg-image-card.kg-width-wide + .kg-gallery-card,
.kg-image-card.kg-width-wide + .kg-image-card.kg-width-wide {
    margin: -2.25em 0 3em;
}

.kg-bookmark-card {
    background: #fff;
    width: 100%;
}

.kg-bookmark-container {
    display: flex;
    text-decoration: none;
    min-height: 148px;
    border: 1px solid rgba(210, 215, 217, 0.75);
    border-radius: .375em;
    box-sizing: border-box;

    @include breakpoint('<=xsmall') {
        flex-direction: column;
    }
}

.kg-bookmark-container:hover {
    border-bottom-color: rgba(210, 215, 217, 0.75);
}

.kg-bookmark-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
    justify-content: start;
    padding: 1.2rem;

    @include breakpoint('<=xsmall') {
        order: 2;
    }
}

.kg-bookmark-title {
    font-weight: 600;
    line-height: 1.5em;
    color: #3d4449;
}

.kg-bookmark-container:hover .kg-bookmark-title {
    color: #f56a6a;
}

.kg-bookmark-description {
    display: -webkit-box;
    font-size: 90%;
    font-weight: 400;
    line-height: 1.6em;
    color: #7f888f;
    margin-top: 0.8rem;
    max-height: 2.6rem;
    overflow-y: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.kg-bookmark-thumbnail {
    position: relative;
    min-width: 33%;
    max-height: 100%;
    margin: -1px -1px -1px 0;

    @include breakpoint('<=xsmall') {
        order: 1;
        min-height: 10.6rem;
        margin: -1px -1px 0px -1px;
    }
}

.kg-bookmark-thumbnail img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 .375em .375em 0;

    @include breakpoint('<=xsmall') {
        border-radius: .375em .375em 0 0;
    }
}

.kg-bookmark-metadata {
    display: flex;
    align-items: center;
    font-size: 90%;
    line-height: 1.6em;
    color: #7f888f;
    margin-top: 1rem;
    flex-wrap: wrap;
}

.kg-bookmark-icon {
    width: 20px;
    height: 20px;
    margin-right: 0.4rem;
}

.kg-bookmark-author:after {
    content: "•";
    margin: 0 0.4rem;
}

.kg-bookmark-publisher {
    overflow: hidden;
    line-height: 1.5em;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 14rem;
}

// Error Pages
// --------------------------------------------

.error-page {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.error-wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-bottom: 8rem !important;
    text-align: center;
}

.error-code {
    margin: 0;
}
