///
/// Editorial by HTML5 UP
/// html5up.net | @ajlkn
/// Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
///

/* Header */

	#header {
		@include vendor('display', 'flex');
		border-bottom: solid 1px _palette(accent);
		padding: 14px 0 14px 0;
		position: relative;
		box-shadow: 0 3px 8px 0 rgba(116, 129, 141, 0.1);
		height:88px;
		.container {
			max-width: 1448px;
			width:100%;
			margin:0 auto;
			padding:0 0 0 20px;
		}

		> * {
			@include vendor('flex', '1');
			margin-bottom: 0;
		}

		.logo {
			border-bottom: 0;
			color: inherit;
			font-family: _font(family-heading);
			font-size: 1.125em;
		}
		.logo.image{
			height: 60px !important;
			margin: 0 0.5em;
		}
		.logo.image img{
			height: 60px !important;
		}

		.icons {
			text-align: right;
		}

		.title {
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0 0.5em;
		}

		@include breakpoint('<=large') {
			.container {
				padding: 0 0 0 50px;
			}
		}

		@include breakpoint('<=medium') {
			.container {
				padding: 0 0 0 50px;
			}
		}

		@include breakpoint('<=small') {
			.container {
				padding: 0 0 0 50px;
			}
			.logo {
				font-size: 1.25em;
				margin: 0;
			}

			.icons {
				height: (6.25em / 1.25);
				line-height: (6.25em / 1.25);
				position: absolute;
				right: (-0.625em / 1.25);
				top: 0;
			}
		}
	}