///
/// Editorial by HTML5 UP
/// html5up.net | @ajlkn
/// Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
///

/* Menu */

	#menu {
		ul {
			@include vendor('user-select', 'none');
			color: _palette(fg-bold);
			font-family: _font(family-heading);
			font-family: _font(weight-heading-alt);
			letter-spacing: _font(kerning-heading);
			list-style: none;
			margin-bottom: 0;
			padding: 1em 0;

			a, span {
				border-bottom: 0;
				color: inherit;
				cursor: pointer;
				display: block;
				font-size: 0.9em;
				padding: 0.625em 0;

				&:hover {
					color: _palette(accent);
				}
			}

			// Sub Menu
			ul {
				padding: 0px;
				margin: 5px 0px;
				li {
					border-left: 1px solid _palette(fg-light);
					margin-left: 20px;
					padding-left: 15px;
					color: _palette(fg-light);
					font-size: 0.8em;

					&.active {
						border-left: 2px solid _palette(fg-prime);
						color: _palette(fg-prime);
					}
				}
			}

			// Sub Sub Menu 
			.subsubnav {
				padding: 0px;
				margin: 0px;
				li {
					border-left: none;
					margin-left: 40px;
					padding-left: 15px;
					color: _palette(fg-light);
					font-size: 0.8em;

					&.active {
						border-left: none;
						color: _palette(fg-prime);
					}
					a {
						padding: 0.3em;
					}
				}
			}
		}

		> ul {
			> li {
				> ul {
					color: _palette(fg-light);
					display: none;
					margin: 0.5em 0 1.5em 0;
					padding-left: 1em;

					a, span {
						font-size: 0.8em;
					}

				}
				&.active {
					background-color: rgb(255, 255, 255);
					border-width: 1px 0px 1px 1px;
					border-style: solid solid solid;
					border-color: rgb(230, 236, 241);
				}
				&.active a {
					color: _palette(fg-prime);
				}

				&:first-child {
					margin-top: 0;
					padding-top: 0;
				}
			}
		}
	}