///
/// Editorial by HTML5 UP
/// html5up.net | @ajlkn
/// Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
///

/* Next Post */

.next-post {
    box-shadow: rgba(116, 129, 141, 0.1) 0px 3px 8px 0px;
    border-width: 1px;
    border-style: solid;
    border-color: #3884ff;
    margin: 16px 0px;
    padding: 0px;
    border-radius: 3px;
    text-decoration: none;
    transition: border 250ms ease 0s;
    display: flex;
    max-width: 750px;
    a {
        padding: 16px;
        width: 100%;
        border: none;
    }
    color: _palette(fg-prime);

    @include breakpoint('<=xlarge') {
        width:400px;
    }
    @include breakpoint('<=large') {
        width:200px;
    }

    @include breakpoint('<=medium') {
        width:45%;
    }
    @include breakpoint('<=small') {
        width:45%;
    }
}

.next-post.sub {
    margin-left: 30px;
    border-color: _palette('fg-light');
    a {
        color: _palette('fg-light');
    }
}

.next-post.left {
    float: left;
    text-align: center;

}

.next-post.right {
    float: right;
    text-align: center;

}

.next-post.full {
    width:100%;
}